
a {
    all: unset;
    cursor: pointer;
}

.nav {
    display: flex;
}

.nav a {
    display: inline-block;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 15px;
    font-weight: bold;
    color: #333;
}